body{
    min-height: 100vh;
    margin: 0;
    background: #DCDCDC;
    z-index: -1;
    display: flex;
    align-items: center;
    justify-content: center;
}

.encabezado{
    position: relative;
    bottom: 85px;
    left: -80px;
    width: 275px;
    height: 420px;
    padding: 20px;
    background: #eeeeee;
    border-radius: 14px;
    text-align:left;
}

.encabezado img{
    width: 120px;
}

.progress{
    position: relative;
    bottom: 202px;
    left: -50px;
    width: 250px;
    height: 200px;
    padding: 10px;
    background: #eeeeee;
    border-radius: 14px;
    text-align:center;
}

.progress2{
    position: relative;
    left: -280px;
    bottom: 170px;
}

.progress3{
    position: absolute;
    left: 450px;
    bottom: 420px;
}

.ramas{
    position: absolute;
    left: 510px;
    bottom: 520px;
}

.ramas1{
    position: absolute;
    left: 520px;
    bottom: 485px;
}

.ramas2{
    position: absolute;
    left: 520px;
    bottom: 450px;
}


.titulo{
    position: absolute;
    bottom: 300px;
    left: 400px;
    width: 930px;
    height: 70px;
    padding: 10px;
    background: #eeeeee;
    border-radius: 14px;
    text-align:left;
}


.proyecto{
    position: absolute;
    bottom: 50px;
    left: 400px;
    padding: 10px;
    width: 950px;
    height: 200px;
    background: #eeeeee;
    border-radius: 14px;
    text-align:end;
}

.paisaje{
    position: absolute;
    width: 200px;
    height: 175px;
    bottom: 80px;
    left: 450px;
}

.proyecto1{
    position: absolute;
    bottom: -200px;
    left: 400px;
    width: 950px;
    height: 200px;
    padding: 10px;
    background: #eeeeee;
    border-radius: 14px;
    text-align:end;
}

.paisaje1{
    position: absolute;
    width: 200px;
    height: 175px;
    bottom: 15px;
    left: 50px;
}

.proyecto2{
    position: absolute;
    bottom: -500px;
    left: 400px;
    padding: 10px;
    width: 950px;
    height: 200px;
    background: #eeeeee;
    border-radius: 14px;
    text-align:end;
}

.paisaje2{
    position: absolute;
    width: 200px;
    height: 175px;
    bottom: 15px;
    left: 50px;
}

.proyecto3{
    position: absolute;
    bottom: -670px;
    left: 65px;
    width: 300px;
    height: 790px;
    padding: 10px;
    background: #eeeeee;
    border-radius: 14px;
    text-align:left;
}

.paisaje3{
    position: absolute;
    width: 280px;
    height: 185px;
    bottom: 400px;
    left: 20px;
    border-radius: 15px;
}

.proyecto4{
    position: absolute;
    bottom: -990px;
    left: 70px;
    width: 300px;
    height: 700px;
    padding: 10px;
    text-align:left;
}

.paisaje4{
    position: absolute;
    width: 280px;
    height: 185px;
    bottom: 360px;
    left: 20px;
    border-radius: 15px;
}

.practicas  {
    position: relative;
    bottom: -1250px;
    left: -820px;
    width: 270px;
    height: 420px;
    padding: 20px;
    background: #eeeeee;
    border-radius: 14px;
    text-align:left;
}

.practicas img{
    width: 120px;
}