/*LAYOUT*/
.main-container{
    display: flex;
    width: 1200px;
    justify-content: space-between;
    flex-wrap: wrap;
}

/*GRENERAL*/
ul{
    list-style-type: none;
}
.clear{
    clear: both;
}
h1,
h2{
    text-transform: uppercase;
}
article ul{
    list-style-type: square;
}

/* ASIDE*/
aside{
    background-color: #647087;
    flex-basis: 30%;
}
aside *{
    color: #fff;
}
aside h2 {
    text-transform: uppercase;
    letter-spacing: 5px;
}
#fotodeperfil img{
    border-radius: 100%;
}
aside section h2:first-child{
    border-bottom: 2px solid #fff;
}

/*MAIN*/
main{
    flex-basis: 60%;
    min-width: 300px;
}
main section h2 {
    letter-spacing: 5px;
}
.hero{
    background-color: #EDC0AF;
    box-shadow: 2px 2px 40px 1px #81848b inset;
    padding: 15% 0;
    text-align: center;
}
.hero h1{
    border-bottom: 2px solid #fff;
    letter-spacing: 10px;

}
.hero h2{
    color: #fff;
    letter-spacing: 10px;
}
.aboutMe p{
    line-height: 2em;
    background-color: #F7DDC3;
    padding: 10px;

}
article h3,
h4{
    font-weight: bold;
}

li h5{
    text-align: center;
}
article p{
    padding: 20px;
    text-align: justify;
    font-size: medium;
}
article h5{
    text-align: center;
}
/*REFERENCIAS*/
.trabajos{
    display: flex;
    flex-wrap: wrap;
    background-color: #F7DDC3;
}
.img{
    width: 250px;
    height: 150px;
    flex: auto;
    margin: 25px;
    top: 5px;
}
.trabajos article{
    width: 50%;
}
.trabajos h3{
    text-align: center;
}
/*PASATIEPOS*/
.sport{
    display: flex;
    flex-wrap: wrap;
    background-color: rgb(87, 85, 85) ;
    text-align: center;
}
.deportes{
    width: 100px;
    height: 100px;
    flex: auto;
}
.sport article{
    width: 50%;
}

/*DL*/
dl {
    display: flex;
    flex-wrap: wrap;
}

dt,
dd{
    line-height: 1.5em;
    border-top: 1px solid #fff;
    width: 40%;
    margin: 0;
    
}
dt:last-of-type,
dd:last-of-type {
    border-bottom: 1px solid #fff;
}
dt{
    font-weight: bolder;
}

/*METER*/
meter{
    display: block;
    width: 80%;
}
meter::-webkit-meter-optimum-value{
    background: none;
    background-color: rgb(97, 97, 170);
}
meter::-webkit-meter-bar{
    background: none;
    background-color: #fff;
}